{% extends 'accounts/accountsFather.html' %}
{% load i18n %}

{% block title %}
    Ecomods - {% trans "Nueva Cuenta" %}
{% endblock %}

{% block accessMessage %}
    <p>{% trans "Introduce tus datos para crear una nueva cuenta" %}</p>
{% endblock %}

{% block form %}
<form method="post" action="{% url 'signUp' %}?next={{ request.GET.next }}">
    {% csrf_token %}
    <label for="username"><span class="input-label">{% trans "Nombre de Usuario" %}</span></label>
    <input type="text" id="username" name="username" oninput="handleInput(this)">

    <label for="email"><span class="input-label">{% trans "Correo Electrónico" %}</span></label>
    <input type="text" id="email" name="email" oninput="handleInput(this)">

    <label for="password"><span class="input-label">{% trans "Contraseña" %}</span></label>
    <input type="password" id="password" name="password" oninput="handleInput(this)">

    <label for="confirmPassword"><span class="input-label">{% trans "Confirmar Contraseña" %}</span></label>
    <input type="password" id="confirmPassword" name="confirmPassword" oninput="handleInput(this)">

    <p id="errorMessage">{{ errorMessage }}</p>

    <button class="btn" type="submit">{% trans "Crear Cuenta" %}</button>
</form>    
{% endblock %}

{% block additionalLinks %}
<a class="link" href="{% url 'logIn' %}?next={{ request.GET.next }}">{% trans "¿Ya tienes una cuenta? Inicia Sesión aquí" %}</a>
{% endblock %}