{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load i18n %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/finalBuild/build.css' %}" />
<script src="{% url 'javascript-catalog' %}?lang={{ LANGUAGE_CODE }}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  const addToCartUrl = "{% url 'addToCart' %}";
</script>
<script src="{% static 'js/finalBuild/build.js' %}" defer></script>
{% endblock %}

{% block title %}
Ecomods - {% trans "Construcción" %}
{% endblock %}

{% block content %}
<main>
  <h2 class="info">
    {% blocktrans with type_name=product.type.name product_name=product.name %}Personaliza tu {{ type_name }} {{ product_name }}{% endblocktrans %}
  </h2>
  <div class="selection-wrapper">
    <img
      id="deviceImage"
      class="deviceImage"
      src="{% static product.media_path %}"
      alt="{{ product.name }}"
      data-product-type="{{ product.type.id }}"
      data-product-name="{{ product.name }}"
    >
    <div class="color-selector">
      <div class="circle red" onclick="selectColor('red')"></div>
      <div class="circle black" onclick="selectColor('black')"></div>
      <div class="circle blue" onclick="selectColor('blue')"></div>
    </div>
    <div class="picklist">
      {% for module in modules %}
      <div class="selectable" data-id="{{ module.id }}" data-pair="{{ module.pairs }}">
        <img src="{% static module.media_path %}" alt="{{ module.name }}">
        <p>{{ module.name }}</p>
      </div>
      {% endfor %}
    </div>
    <button
      id="add"
      onclick="addToCart('{{ product.name }}', '{{ product.type.id }}')"
      data-url="{% url 'addToCart' %}"
    >
      {% trans "Añadir al carrito" %}
    </button>
  </div>

  <div id="popup" class="popup-overlay">
    <div class="popup-content">
      <p id="popupMessage"></p>
      <div id="popupButtons" class="popup-buttons">
        <button onclick="goToCart()">{% trans "Ir al carrito" %}</button>
      </div>
    </div>
  </div>
</main>
{% endblock %}
