{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/finalBuild/selection.css' %}" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block title %}
Ecomods - Selección de Dispositivos
{% endblock %}

{% block content %}
<div id="stage-1" class="stage">
  <h2 class="info">Elige el tipo de producto que desea construir</h2>
  <div class="selection-wrapper" id="deviceSelections">
    {% for product in products %}
    <a class="clickableOption" id="{{product.id}}" href="{% url 'modelSelect' product.id %}">
      <h2>{{product.type.name}}</h2>
      <img class="deviceImage" src="{% static product.media_path %}" alt="{{product.name}}">
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}