header{
    width: 100vw;
    background-color: var(--color01);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color02);
}

.confirmation-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px var(--color01);
    border-radius: 8px;
    color: var(--color01);
}

h2   {
    color: var(--color05);
    margin-bottom: 20px;
}

p {
    color: var(--color01);
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: var(--color01);
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    text-decoration: underline;
}

button {
    height: 40px;
    margin-top: 20px;
    width: 250px;
    background-color: var(--color06);
    border: 1px solid var(--color06);
    border-radius: 5px;
    color: var(--color07);
    outline: none;
    font-family: Arial;
    transition: background-color var(--ease-time) ease, border var(--ease-time) ease, width var(--ease-time) ease;
}

button:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
    width: 400px;
}