{% load static %}
{% load i18n %}

<html lang="{% get_current_language as current_language %}{{ current_language }}">
  <head>
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  </head>
  <div class="footer-container">
    <div class="footer-section contact">
      <h3>{% trans "CONTACTO" %}</h3>
      <p>{% trans "¿Tienes preguntas? Estamos aquí para ayudarte." %}</p>
      <p>ecomodstechnology@gmail.com</p>
      <p>+34 681 672 015</p>
      <div class="social">
        <ul>
          <li>
            <a href="https://www.youtube.com/">
              <!-- SVG YouTube -->
              <?xml version="1.0" encoding="UTF-8"?>
              <!-- ...El resto del SVG sin traducir... -->
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/">
              <!-- SVG Facebook -->
            </a>
          </li>
          <li>
            <a href="https://www.x.com/">
              <!-- SVG Twitter/X -->
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <!-- SVG Instagram -->
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-section sponsors">
      <h3>{% trans "PATROCINADORES" %}</h3>
      <p>{% trans "Orgullosos de ser apoyados por líderes en sostenibilidad y tecnología." %}</p>
      <div class="sponsors-logos">
        <img src="{% static 'images/sponsors/sponsor1.png' %}" alt="Sponsor 1 Logo">
        <img src="{% static 'images/sponsors/sponsor2.png' %}" alt="Sponsor 2 Logo">
        <img src="{% static 'images/sponsors/sponsor3.png' %}" alt="Sponsor 3 Logo">
        <img src="{% static 'images/sponsors/sponsor4.png' %}" alt="Sponsor 4 Logo">
      </div>
    </div>
    <div class="footer-section moreInfo">
      <h3>{% trans "MÁS INFORMACIÓN" %}</h3>
      <ul>
        <li>
          <a href="#">{% trans "Sobre Nosotros" %}</a>
        </li>
        <li>
          <a href="#">{% trans "Compromiso Ecológico" %}</a>
        </li>
        <li>
          <a href="#">{% trans "Blog de Innovación" %}</a>
        </li>
        <li>
          <a href="#">{% trans "Política de Privacidad" %}</a>
        </li>
        <li>
          <a href="#">{% trans "Términos y Condiciones" %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Ecomods - {% trans "Todos los derechos reservados" %}</p>
    <p>Diego Merino y Miguel Acha</p>
  </div>
</html>
