#all {
  width: 70vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

#generation {
  margin: 10px;
  color: white;
}

.showcase {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.select-custom {
  position: relative;
  margin-bottom: 40px;
}

.select-custom-trigger {
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  background: none;
  transition: opacity var(--ease-time) ease; 
}

.select-custom-trigger.hidden {
  opacity: 0;  
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height calc(var(--ease-time) * 2) ease;
  max-height: 0;
  z-index: 10;
  padding: 5px 0;
}

.custom-option {
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  color: white;
  transition: color var(--ease-time) ease;
}

.custom-option:hover{
  color: var(--color06);
}

.select-custom.open .custom-options {
  max-height: 300px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.product-item {
  margin: 10px 80px 10px 80px;
  border-radius: 15px;
  padding: 20px;
  width: calc(30% - 40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color var(--ease-time) ease, transform var(--ease-time) ease;
}

.product-item:hover {
  cursor: pointer;
  animation: bounce var(--ease-time) ease;
  background-color: var(--color03);
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05) translateY(-10px);
  }
}

.prod-name {
  color: var(--color07);
  margin-bottom: 15px;
  text-align: center;
}

.metric-item {
  color: var(--color07);
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.price-item {
  margin-top: 15px;
  text-align: center;
}

.currency {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--color07);
  background-color: var(--color04);
}

.metric-item {
  color: var(--color07);
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.metric-wrapper {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}

.metric {
  display: inline; 
}

.info-icon {
  display: inline-block;
  color: var(--color07);
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 12px;
  font-style: normal;
}

.info-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  background-color: var(--color04);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  white-space: nowrap;
  font-weight: 300;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 100;
}

.info-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--color04);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 100;
}

.info-icon:hover::after,
.info-icon:hover::before {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1210px) {
  .select-custom {
    margin-bottom: 0;
  }

  .product-item{
    width: 100%;
  }

  .custom-options {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; 
    width: 100%; 
    box-shadow: none; 
  }

  .select-custom.open .custom-options {
    max-height: 500px;
  }

  .select-custom-trigger {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color05); 
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  .product-item {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

