* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-color: var(--color02);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin: 0;
  }
  
  .accountContainer,
  .infoMessage {
    width: 50%;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .accountContainer {
    background-color: var(--color03);
    color: var(--color07);
    border-top-right-radius: 6.25rem;
    padding: 5% 9% 5% 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .accountContainer h1 {
    margin-bottom: 1.25rem;  
  }
  
  .accountContainer p,
  .accountContainer a {
    margin-top: 1.25rem;
    color: var(--color07);
    text-decoration: none;
  }
  
  .infoMessage {
    background-color: var(--color02);
    color: var(--color07);
    padding: 5% 13% 5% 9%;
    display: flex;
    flex-direction: column;
  }
  
  .infoMessage p,
  .infoMessage span,
  .infoMessage li {
    font-family: Arial;
  }
  
  .infoMessage ol {
    margin-left: 3.125rem;
  }
  
  .infoMessage p,
  .infoMessage span {
    margin-left: 1.5625rem; 
  }
  
  .infoMessage h1 {
    margin-bottom: 0.4375rem; 
  }
  
  .infoMessage h2 {
    margin-bottom: 0.3125rem;  
  }
  
  .myForm,
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  form input {
    width: 100%;
    height: 2.5rem;
    margin-top: 3.125rem; 
    margin-bottom: 1.25rem;  
    background-color: var(--color04);
    color: var(--color07);
    border: 1px solid var(--color07);
    border-radius: 0.3125rem;  
    outline: none;
    font-family: Arial;
    padding-left: 0.625rem; 
  }
  
  button {
    height: 2.5rem; 
    margin-top: 1.875rem; 
    width: 50%;  
    background-color: var(--color06);
    border: 1px solid var(--color06);
    border-radius: 0.3125rem; 
    color: var(--color07);
    outline: none;
    font-family: Arial;
    transition: background-color var(--ease-time) ease,
                border var(--ease-time) ease,
                width var(--ease-time) ease;
  }
  
  button:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
    width: 100%;
  }
  
  .link:hover,
  .link:focus {
    text-decoration: underline;
  }
  
  .input-label {
    margin-top: 3.75rem;  
    margin-left: 0.625rem; 
    position: absolute;
    transition: margin-top var(--ease-time) ease,
                margin-left var(--ease-time) ease;
  }
  
  .input-label.focused {
    margin-top: 1.25rem; 
    margin-left: 0;
  }
  
  form input.written {
    border: 2px solid var(--color06);
  }
  
  form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--color03) inset;
    -webkit-text-fill-color: var(--color07);
    border: 2px solid var(--color06);
  }
  
  #errorMessage {
    color: var(--color07);
    align-self: center;
    margin: 0;
  }
  
  @media (max-width: 900px) {
    body {
      flex-direction: column;
    }
  
    .accountContainer {
      width: 100%;
      min-height: 100vh;
      border-top-right-radius: 0;
      padding: 5% 10%;
    }
  
    body .infoMessage {
      display: none;
    }
  
    button {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .accountContainer {
      padding: 5% 5%;
    }
  }
  