h2.info {
  margin-top: 20px;
  text-align: center;
  color: var(--color07);
}

.selection-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.deviceImage {
  max-width: 100%;
  height: 20rem;
  margin-bottom: 20px;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .deviceImage {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .deviceImage {
    max-height: 200px;
  }
}

.color-selector {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.circle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.2s;
  box-shadow: 0 0 0 2px transparent;
}

.circle.red {
  background-color: #FF4C4C;
}

.circle.black {
  background-color: #1f1f1f;
}

.circle.blue {
  background-color: #4C6AFF;
}

.circle.selected {
  box-shadow: 0 0 0 5px var(--color07), 0 0 10px rgba(0, 0, 0, 0.3);
}

.picklist {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2em;
  background-color: var(--color02);
  border-radius: 10px;
  overflow-y: auto;
  margin-bottom: 20px;
  justify-content: center;
}

.selectable {
  flex: 1 1 calc(20% - 40px);
  max-width: calc(20% - 40px);
  background-color: var(--color08);
  color: var(--color07);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color var(--ease-time), transform var(--ease-time), box-shadow var(--ease-time);
}

.selectable img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.selectable p {
  margin: 0;
  font-size: 1em;
  color: var(--color07);
}

.selectable:hover {
  background-color: var(--color09);
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.selectable.moduleSelected {
  background-color: var(--color06);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px) scale(1.05);
}

.selectable.moduleSelected img {
  transform: scale(1.05);
  transition: transform var(--ease-time);
}

#add {
  background-color: var(--color06);
  color: var(--color07);
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: width var(--ease-time) ease, background-color var(--ease-time) ease, border var(--ease-time) ease;
  width: 15rem;
}

#add:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
  width: 30rem;
}

@media (max-width: 1024px) {
  .selectable {
    flex: 1 1 calc(25% - 40px);
    max-width: calc(25% - 40px);
  }
  #add:hover {
    width: 15rem;
  }
}

@media (max-width: 768px) {
  .selection-wrapper {
    max-width: 90%;
  }

  .picklist {
    padding: 1em;
  }

  .selectable {
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    padding: 0.8em;
  }

  #add {
    width: 12rem;
    font-size: 0.9em;
    padding: 0.8em 1.5em;
  }

  #add:hover {
    width: 12rem;
  }

  .color-selector {
    gap: 10px;
  }

  .circle {
    width: 2.5em;
    height: 2.5em;
  }
}

@media (max-width: 480px) {
  .selection-wrapper {
    padding: 0 1em;
  }

  .picklist {
    padding: 0.5em;
  }

  .selectable {
    flex: 1 1 calc(100% - 40px);
    max-width: calc(100% - 40px);
    padding: 0.5em;
  }

  #add {
    width: 12rem;
    font-size: 0.9em;
    padding: 0.7em 1em;
  }

  #add:hover {
    width: 12rem;
  }

  .circle {
    width: 2em;
    height: 2em;
  }
}

.popup-overlay {
  display: none;  
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
  animation: fadeIn 0.3s; 
}

.popup-content {
  background-color: var(--color02);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--color07);
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  animation: slideIn 0.5s forwards;
}

.popup-content p {
  font-size: 1.2em;
  color: var(--color07); 
}

.popup-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;  
  margin-top: 20px;
}

.popup-buttons button {
  background-color: var(--color06);
  color: var(--color07);
  border: none;
  padding: 0.8em 1.5em;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--ease-time);
  flex: 1 1 auto;  
}

.popup-buttons button:hover {
  background-color: var(--button-hover);  
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes slideIn {
  from {transform: translateX(-100%);}
  to {transform: translateX(0);}
}

@keyframes slideOut {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
}

.popup-overlay.hide {
  animation: fadeOut 0.3s forwards;
}

.popup-content.hide {
  animation: slideOut 0.5s forwards;
}

.navbar a:hover {
  background-color: var(--color06);
  color: var(--color07);
}

@media (max-width: 768px) {
  .navbar a {
    display: block;
    text-align: center;
    padding: 14px 0;
    margin: 10px 0;  
  }
}
